<h2>Name: <%= @artist.name %></h2>
<h4>Birth Year: <%= @artist.birth_year %></h4>
<br />
<h5><%= @artist.name %>'s Biography: </h5>
<p><%= @artist.bio %></p>

<ul>
  <% @artist.architectures.each do |architecture| %>
    <li><%= link_to architecture.name, architecture_path(architecture) %></li>
  <% end %>
</ul>
