<div class="analytics_page">
  <% if @user.admin %>
  <div class="analytics_left">
    <h3 class="analytics_title">City with highest number of architectural works</h3>
    <li class="analytics_list"><%= @most_city_architectures %></li>
    <h3 class="analytics_title">Architecture with most Reviews</h3>
    <li class="analytics_list"><%= @most_reviwed_architecture%></li>
    <h3 class="analytics_title">Highest Rated Architecture</h3>
    <li class="analytics_list"><%= @architecture_highest_rated%></li>
    <h3 class="analytics_title">Lowest Rated Architecture</h3>
    <li class="analytics_list"><%= @architecture_lowest_rated%></li>
  </div>

  <div class="analytics_right">
    <h3 class="analytics_title">Average Review Rating</h3>
    <li class="analytics_list"><%= @average_review_rating %></li>
    <h3 class="analytics_title">Average length of a Review</h3>
    <li class="analytics_list"><%= @review_average_length %></li>
    <h3 class="analytics_title">User with the most reviews</h3>
    <li class="analytics_list"><%= @highest_number_of_reviews %></li>
    <h3 class="analytics_title">Average Reviews per User</h3>
    <li class="analytics_list"><%= @users_average_review_count %></li>
  </div>

  <% else %>
    <h1 style = "color: red;">"You are not an admin!"</h1>
  <% end %>
</div>
