<% if @user.admin %>
<h4>City with highest number of architectural works:</h4>
<li><%= @most_city_architectures %></li>

<h4>Architecture with most Reviews:</h4>
<li><%= @most_reviwed_architecture%></li>

<h4>Highest and Lowest Rated Architecture</h4>
<li><%= @architecture_highest_rated%></li>
<li><%= @architecture_lowest_rated%></li>

<h4>Average Review Rating</h4>
<li><%= @average_review_rating %></li>

<h4>Average length of a Review</h4>
<li><%= @review_average_length %></li>

<h4>User with the most reviews</h4>
<li><%= @highest_number_of_reviews %></li>

<h4>Average Reviews per User</h4>
<li><%= @users_average_review_count %></li>




<% else %>
  <p>"You are not an admin!"</p>
<% end %>
