<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<h1 class='welcome' >Welome to KEYSTONE <%= current_user.username %>!</h1>
<div class="home_review">
  <h3>My Reviews</h3>
  <div class="item">
  <% current_user.reviews.each do |review| %>
    Review for: <%= link_to review.architecture.name, architecture_path(review.architecture) %><br />
    Rating: <%= review.rating %><br />
    <li style="width:200px; max-width:200px; word-wrap:break-word;" ><%= review.content %><br /><br /></li>
    <div class="review_buttons">
      <%= button_to "Edit", edit_review_path(review), method: :get %>
      <%= button_to "Delete", review_path(review), method: :delete %><br /><br />
    </div>
  <% end %>
  </div>
</div>
