<div class="heading" >

  <div class="left_block">
    <div class="title">
      KEYSTONE LITE
    </div>
    <div class="buttons">
      <a class="title_buttons"><%= button_to "All Architectures", architectures_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "All Artists", artists_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Write a Review", new_review_path, method: :get %></a>
    </div>
  </div>

  <div class="middle_block">
    <a class="architecture_search">Search for Architecture:
    <%= form_tag(architectures_path, :method => "get") do %>
        <%= text_field_tag :name, params[:name]%>
        <%= submit_tag "Search" %>
    <% end %></a>
  </div>

  <div class="right_block">
    <a class ="log">
    <% if logged_in? %>
      <a class="login_status">Logged in as <br /><%= link_to current_user.username, '/'%><br />
        <%= button_to "Log out", logout_path, method: :delete %></a>
    <% else %>
      <% require_logged_in %>
    <% end %>
  </a>
  </div>

</div>
