<div class="heading" >
  <div class="left_block">
    <div class="title">

      <div class="logo">
        <i class="fa fa-university" ></i>
      </div>
      <%= link_to "KEYSTONE", '/'%>
    </div>

    <div class="buttons">
      <a class="title_buttons"><%= button_to "Architecture", architectures_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Artists", artists_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Cities", cities_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Styles", styles_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Write a Review", new_review_path, method: :get %></a>
      <a class="title_buttons"><%= button_to "Analytics", analytics_path, method: :get %>

    </div>
  </div>

  <div class="middle_block">
    <a class="architecture_search">Search for Architecture:
    <%= form_tag(architectures_path, :method => "get") do %>
        <%= text_field_tag :name, params[:name]%>
        <%= submit_tag "Search" %>
    <% end %></a>

  </div>

  <div class="right_block">
    <a class ="log">
    <% if logged_in? %>
      <a class="login_status">Logged in as <br /><div class="item">
        <%= link_to current_user.username, '/'%>
      </a>
      </div>
        <%= button_to "Log out", logout_path, method: :delete %></a>
    <% else %>
      <% require_logged_in %>
    <% end %>
  </div>
</div>
